<div class="container">
  <div class="row">
    <div class="col">
      Welcome
    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>